/* Home.css */

.my-5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.card {
  border: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.card-body {
  text-align: center;
}

.card-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333; /* Adjust the color as needed */
}

/* Responsive styling */

@media (max-width: 768px) {
  .my-5 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
